Mask_RCNN/src/Mask_RCNN/
.vscode/
frustum-convnet/src/frustum-convnet
*.bag
*.tlt
*.eltlt
*.engine
*.hdf5

Mask_RCNN/realsense/opencv_GUI/modules/__pycache__/
Mask_RCNN/tlt/tlt-experiments/data
Mask_RCNN/tlt/tlt-experiments/mask_rcnn/maskrcnn_annotated_images/
Mask_RCNN/tlt/tlt-experiments/mask_rcnn/maskrcnn_annotated_labels/
Mask_RCNN/tlt/tlt-experiments/mask_rcnn/experiment_dir_unpruned/
Mask_RCNN/tlt/tlt-samples/classification/
Mask_RCNN/tlt/tlt-samples/detectnet_v2/
Mask_RCNN/tlt/tlt-samples/dssd/
Mask_RCNN/tlt/tlt-samples/emotionnet/
Mask_RCNN/tlt/tlt-samples/facenet/
Mask_RCNN/tlt/tlt-samples/fpenet/
Mask_RCNN/tlt/tlt-samples/gazenet/
Mask_RCNN/tlt/tlt-samples/gesturenet/
Mask_RCNN/tlt/tlt-samples/heartratenet/
Mask_RCNN/tlt/tlt-samples/lprnet/
Mask_RCNN/tlt/tlt-samples/retinanet/
Mask_RCNN/tlt/tlt-samples/ssd/
Mask_RCNN/tlt/tlt-samples/unet/
Mask_RCNN/tlt/tlt-samples/yolo_v3/
Mask_RCNN/tlt/tlt-samples/yolo_v4/
