src/Mask_RCNN/
.vscode/
*.bag
*.tlt
*.eltlt
*.engine
*.hdf5
.ipynb_checkpoints

realsense/opencv_GUI/modules/__pycache__/
tlt/tlt-experiments/data
tlt/tlt-experiments/mask_rcnn/maskrcnn_annotated_images/
tlt/tlt-experiments/mask_rcnn/maskrcnn_annotated_labels/
tlt/tlt-experiments/mask_rcnn/experiment_dir_unpruned/
tlt/tlt-samples/classification/
tlt/tlt-samples/detectnet_v2/
tlt/tlt-samples/dssd/
tlt/tlt-samples/emotionnet/
tlt/tlt-samples/facenet/
tlt/tlt-samples/fpenet/
tlt/tlt-samples/gazenet/
tlt/tlt-samples/gesturenet/
tlt/tlt-samples/heartratenet/
tlt/tlt-samples/lprnet/
tlt/tlt-samples/retinanet/
tlt/tlt-samples/ssd/
tlt/tlt-samples/unet/
tlt/tlt-samples/yolo_v3/
tlt/tlt-samples/yolo_v4/
